a {
  background-color:  lightgrey;
  text-decoration: none;
  border: solid;
  border-width: thin;
  border-color: silver;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.container-a {
  border: solid;
  border-width: thin;
  border-color: silver;
  margin: 0.5em;
  padding: 0.5em;
  box-shadow: 2px 2px 5px silver;

}

